html,
body,
#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.chart {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
canvas {
  border-radius: 20px;
}
